@charset "UTF-8";

.sec-title {
  display: flex;
  /* justify-content: center; */
  position: relative;
  font-size: 2.2rem;
  color: #003d5b;
  line-height: 1.2;
  margin-bottom: 15px;
}

.sec-txt {
  font-size: 1rem;
  color: #35373a;
  line-height: 1.5;
}

.sec-subtitle {
  font-size: 1.5rem;
  color: #6c81a5;
  line-height: 1.5;
  text-decoration: underline wavy;
}